<mat-card appearance="fill" class="container">
    <mat-card-header class="header">
        <mat-card-title id="title"><b>Dados Encontrados:</b></mat-card-title>
    </mat-card-header>

    <mat-card-content class="content">
       <b>CEP: </b> {{CepOfUser?.cep}}<br><br>
       <b>Logradouro: </b> {{CepOfUser?.logradouro}}<br><br>
       <b>Complemento: </b> {{CepOfUser?.complemento}}<br><br>
       <b>Bairro: </b> {{CepOfUser?.bairro}}<br><br>
       <b>Localidade: </b> {{CepOfUser?.localidade}}<br><br>
       <b>UF: </b> {{CepOfUser?.uf}}<br><br>
       <b>IBGE: </b> {{CepOfUser?.ibge}}<br><br>
       <b>DDD: </b> ({{CepOfUser?.ddd}})<br><br>
       <b>SIAFI: </b> {{CepOfUser?.siafi}}<br><br>
    </mat-card-content>
    
</mat-card>

